# Gradle project-specific cache directory
.gradle

# Gradle build output
build

# AI agents
/.ai/
.claude/
.clinerules/
.codebuddy/
.cursorrules/
.kilo/
.kilocode/
.lingma/
.marscode/
.mimocode/
.opencode/
.trae/


# idea
.idea/
out
*.ipr
*.iws
*.iml

# eclipse
eclipse
*.launch
.settings
.metadata
.classpath
.project

# visual studio code
.vscode/

# visual studio
.vs/

.profileconfig.json
profile.jfr
