# Gradle project-specific cache directory
.gradle

# Gradle build output
build

# idea
.idea/
out
*.ipr
*.iws
*.iml

# eclipse
eclipse
*.launch
.settings
.metadata
.classpath
.project

# visual studio code
.vscode/

# visual studio
.vs/
